.title {
    color: #fdfdfdcc;
    font-family: "Lily Script One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    height: 69px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    top: 0;
}


  

  

  